body{
    background: #0081ffcd;
    font: normal 18pt Arial;
}

h1{
    text-shadow: 1px 1px 1px #0000009b;
    color: white;
    text-align: center;
}

section{
    margin: auto;
    max-width: 500px;
    text-align: center;
    padding-top: 20px;    
    background: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #0000008c;
}

div#imagem{
    margin: auto;  
    background: white;
    border-radius: 0px 0px 10px 10px;        
    
}

img{
    padding: 20px;
}
